<!--<div>
    <h2>Lista de Tareas</h2>
    <ul>
      <li *ngFor="let tarea of listaTareas; let i = index">
        {{tarea}} 
        <button (click)="eliminarTarea(i)">Eliminar Tarea</button>
      </li>
      <input type="text" placeholder="Nueva tarea" [(ngModel)]="nuevaTarea"/>
      <button (click)="agregarTarea()">Agregar Tarea</button>
    </ul></div>-->
  <!DOCTYPE html>
  <html lang="en">

  <body>
    <div>
        <h2>Lista de Tareas</h2>
        <ul>
            <li *ngFor="let tarea of listaTareas; let i = index">
                {{tarea}}
                <button (click)="eliminarTarea(i)">Eliminar Tarea</button>
            </li>
            <input type="text" placeholder="Nueva tarea" [(ngModel)]="nuevaTarea"/>
            <button (click)="agregarTarea()">Agregar Tarea</button>
        </ul>
    </div>
  </body>
  </html>
<router-outlet></router-outlet>
